@media (max-width: 1200px) {
  .slider-container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    overflow-y: hidden;
    grid-auto-rows: 0;
  }

  .donation {
    flex-direction: column-reverse;
  }

}

@media (max-width: 880px) {
  .not-only {
    flex-wrap: wrap;
  }
}

@media (max-width: 768px) {
  header {
    margin-bottom: 0;
  }

  .wrapper {
    padding: 30px 30px 0;
  }

  .nav-title {
    line-height: 110%;
    padding-top: 4px;
  }

  .nav-subtitle {
    padding-top: 7px;
    padding-left: 4px;
  }
}