@media (max-width: 1200px) {
  .slider-container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    overflow-y: hidden;
    grid-auto-rows: 0;
  }

  header {
    margin-bottom: 0;
  }

  .donation {
    flex-direction: column-reverse;
  }

  .not-only {
    justify-content: center;
  }

  .not-only__content {
    padding-top: 53px;
  }

  .not-only__text {
    margin-bottom: 39px;
  }

  .figure__not-only {
    display: flex;
    justify-content: flex-end;
    padding-top: 14%;
  }

  .photo {
    width: 81%;
  }
}

@media (max-width: 880px) {
  .not-only {
    flex-wrap: wrap;
  }

  .button-primery {
    margin-left: 127px;
  }
}

@media (max-width: 768px) {

  .not-only__content {
    padding-top: 53px;
  }


  .wrapper {
    padding: 30px 30px 0;
  }

  .nav-title {
    line-height: 110%;
    padding-top: 4px;
  }

  .nav-subtitle {
    padding-top: 7px;
    padding-left: 4px;
  }






}