@font-face {
  font-family: "Georgia";
  src: url("/shelter/assets/fonts/georgia/georgia-regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Georgia";
  src: url("/shelter/assets/fonts/georgia/georgia-italic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Georgia";
  src: url("/shelter/assets/fonts/georgia/georgia-bold-italic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}


*,
*::before,
*::after {
  box-sizing: border-box;
}


ul,
ol {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}


ul {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

html {
  scroll-behavior: smooth;
}

button {
  background: #F1CDB3;
  border-radius: 100px;
  width: 207px;
  height: 52px;
  padding: 15px 45px 15px 45px;
  border: none;
  font-family: "Georgia Regular", Arial, sans-serif;
}

button:hover {
  background: #FDDCC4;
}

.page {
  max-width: 1280px;
  margin: 0 auto;
  height: 100%;
  font-family: "Georgia Regular", Arial, sans-serif;
  font-weight: 400;
}

.page-body {
  margin: 0 auto;
}

.page-body a {
  text-decoration: none;
  color: black;
}

.page-body a:hover,
.page-body a:focus {
  text-decoration: none;
}

.page-body a:active {
  border-bottom: 3px solid #F1CDB3;
  text-decoration: none;
}

.wrapper {
  background: url(/shelter/assets/image/start-screen-gradient-background.jpg), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
  padding: 30px 40px 0;
  background-size: cover;
}

/* Header */
header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 90px;
  column-gap: 42px;
}

.nav-title {
  color: #f1cdb3;
  font-size: 32px;
  letter-spacing: 0.06em;
}

.nav-subtitle {
  color: #cdcdcd;
  font-size: 13px;
  font-family: Arial;
  letter-spacing: 0.1em;
}

.nav__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav a {
  padding: 14px 10px;
  line-height: 50px;
  color: #cdcdcd;
  font-weight: 400;
}

/* Main */

/* Not only */

.not-only,
.about {
  display: flex;
  justify-content: space-around;
}

.not-only__content {
  width: 460px;
}

.not-only__title {
  padding-top: 163px;
  font-size: 44px;
  text-align: left;
  margin-bottom: 42px;
  color: #fff;
}

.not-only__text {
  font-family: Arial;
  font-size: 15px;
  line-height: 24px;
  text-align: left;
  color: #CDCDCD;
  margin-bottom: 42px;
}

.photo {
  height: 100%;
  width: 100%;
}

.button-primery {
  font-size: 17px;
}

/* About */
.about {
  padding: 40px 80px 100px;
  column-gap: 120px;
}

.about__content {
  width: 430px;
}

.about__title,
.mod {
  padding-bottom: 25px;
}