@font-face {
  font-family: "Georgia";
  src: url("../../assets/fonts/georgia/georgia-regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Georgia";
  src: url("../../assets/fonts/georgia/georgia-italic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Georgia";
  src: url("../../assets/fonts/georgia/georgia-bold-italic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}


*,
*::before,
*::after {
  box-sizing: border-box;
}


ul,
ol {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  font-weight: 400;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}


ul {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

html {
  scroll-behavior: smooth;
}

header,
main {
  max-width: 1280px;
  margin: 0 auto;
}

.page {
  height: 100%;
  font-family: "Georgia Regular", Arial, sans-serif;
  color: #545454;
}

.page-body {
  margin: 0 auto;
}

.page-body a {
  text-decoration: none;
}

.page-body a:hover,
.page-body a:focus {
  text-decoration: none;
}


/* Header */
header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 90px;
  column-gap: 42px;
  padding: 0 40px;
}

.header-logo :active {
  border: none;
}

.nav-title {
  font-size: 32px;
  letter-spacing: 0.06em;
  color: #545454;
}

.nav-subtitle {
  font-size: 13px;
  font-family: Arial;
  letter-spacing: 0.1em;
  padding-left: 4px;
  color: #545454;
  ;
}

.nav__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0;
  padding-right: 3px;
  padding-top: 3px;
}

.nav__item {
  padding: 20px 35px 16px 0px;
  font-weight: 400;
  font-family: Arial;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}

.nav__item a {
  color: #545454;
  display: block;
}

.nav__item a:not(.active):hover {
  color: #292929;
  transition: 0.5s;
}

.active {
  border-bottom: 3px solid #F1CDB3;
  color: #545454;
  cursor: default;
}


.nav__item:last-child {
  padding-right: 0;
}


/*main*/

/* our-friends */

.main__title {
  color: #545454;
  font-size: 35px;
  line-height: 48px;
  letter-spacing: 2px;
}

.our-friends {
  position: relative;
  margin-bottom: 128px;
}

.our-friends__title {
  text-align: center;
  padding-top: 15px;
}

.slider-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 56px 40px 90px;
  gap: 57px 40px;
}

.slider-item {
  display: block;
  width: 270px;
  text-align: center;
  padding-top: 2px;
}

.slider-item:hover {
  cursor: pointer;
  box-shadow: 0px 2px 35px 14px #0D0D0D0A;
}

.slider-item:hover>.slider-button {
  background: #FDDCC4;
  border-color: #FDDCC4;
  transition: 0.5s;
}



.slider-title {
  color: #545454;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 32px;
  font-size: 20px;
  line-height: 22.72px;
  letter-spacing: 0.06em;
}

.slider-button {
  font-family: "Georgia Regular", Arial, sans-serif;
  width: 187px;
  height: 52px;
  padding: 12px 40px 15px 42px;
  border-radius: 100px;
  background: #F6F6F6;
  border: solid 2px #F1CDB3;
  margin: 0 auto;
  font-size: 17px;
  line-height: 22.1px;
  letter-spacing: 0.06em;
}

.mod-left {
  left: 3%;
  top: 64%;
}

.mod-right {
  right: 3%;
  top: 64%;
}

.slider-tab {
  width: 261px;
  height: 52px;
  padding: 15px 45px 15px 45px;
  border-radius: 100px;
  margin: 0 auto;
  color: #292929;
  font-size: 17px;
  margin-bottom: 100px;
  line-height: 22.1px;
  letter-spacing: 0.05em;
}

.navigation-container {
  margin: 0 auto;
}

.pagination {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.pagination a {
  width: 52px;
  height: 52px;
  border-radius: 100px;
  border: solid 2px;
  border-color: #CDCDCD;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.06em;
}

.pagination a path {
  fill: #CDCDCD;
}

.pagination a.active {
  background-color: #F1CDB3;
  color: #000;
  border: 1px solid #F1CDB3;
}

.no-active {
  cursor: default;
}

.pagination a:hover:not(.active, .no-active) path {
  fill: #000;
}

.pagination a:hover:not(.active, .no-active) {
  border-color: #F1CDB3;
}


/*footer*/

footer {
  padding: 11px 40px;
  background: url(../../assets/img/start-screen-gradient-background.jpg), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
  background-size: cover;
}

.footer-content {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 0 40px;
}

.contacts__title,
.locations__title {
  color: #fff;
  margin-bottom: 38px;
  line-height: 45.5px;
}

.locations__title {
  margin-bottom: 27px;
}

.foot-mail,
.foot-phone {
  display: block;
  padding-top: 5px;
  position: relative;
  font-size: 20px;
  letter-spacing: 0.06em;
  text-align: left;
  color: #F1CDB3;
  line-height: 23px;
  padding-left: 60px;
  padding-bottom: 4px;
}

.foot-mail::before,
.foot-phone::before {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  width: 40px;
  height: 32px;
  background-image: url(../../assets/icons/icon-email.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.foot-phone {
  display: block;
  margin-top: 40px;
}

.foot-phone::before {
  background-image: url(../../assets/icons/Phone.svg);
}

.market {
  margin-top: 0;
  padding-left: 41px;
  margin-bottom: 28px;
}

.market::before,
.street::before {
  background-image: url(../../assets/icons/icon-marker.svg);
  top: 11px;
}

.street {
  margin-top: 0;
  padding-left: 41px;
}

.street::before {
  top: 0;
}

.contacts,
.locations {
  padding-top: 16px;
}

.contacts {
  width: 280px;
}

.locations {
  width: 302px;
}